<h2>Bravo pour votre commande n°
	{{ purchase.id }}</h2>

<h4>Merci à vous
	{{ user.fullName }}!</h4>
<table>
	<thead>
		<th>Produit</th>
		<th>Quantité</th>
		<th>P.U</th>
		<th>Total</th>
	</thead>
	<tbody>
		{% for item in purchase.purchaseItems %}
			<tr>
				<td>{{ item.productName }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.productPrice | amount }}</td>
				<td>{{ item.total | amount }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">Total:
			</td>
			<td>{{ purchase.total | 100}}</td>
		</tr>
	</tfoot>
</table>
